<section id="headline" class="headline-section section-gray section">

        <div class="container">

          <h2 class="section-heading text-center hidden">Tagline</h2>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <p class="headline-text">
               Bringing remittance prices down to 5 percent from the current 12.4 percent average cost would put US$4 billion more in the pockets of African migrants and their families who rely on remittances for survival.
              </p>

            </div>
          </div>

        </div>

      </section>