<div class="container">

					<h3 class="footer-logo">
						<img src="images/logos/footer-logo.png" srcset="images/logos/footer-logo@2x.png 2x" alt="Drew">
					</h3>

					<div class="footer-socmed">
						<a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
						<a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
						<a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
						<a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
					</div>

					<div class="footer-copyright">
						© 2015 Drew Landing Page
					</div>

				</div>